/*
* Stylesheet for "YouTube Comments" Wordpress plugin
*/

#youtube-comments {
	-moz-box-sizing: content-box !important;
	border: 1px solid #d3d3d3;
	color: #333;
	font-size: 13px;
	padding: 20px;
}

#youtube-comments ul.comments-list {
	margin: 0;
	overflow: hidden;
	padding: 0;
}

#youtube-comments a {
	color: #2793E6;
	text-decoration: none;
}

#youtube-comments a:hover {
	text-decoration: underline;
}

#youtube-comments img {
	border: none;
	box-shadow: none;
	margin: 0;
	padding: 0;
}

#youtube-comments .post-comment {
	margin: 0 0 25px 0;
}

#youtube-comments .post-comment-login {
	background: #eee;
	border: 1px solid #ccc;
	height: 48px;
	padding: 0 6px;
}

#youtube-comments .post-comment-form {
	margin-bottom: 10px;
}

#youtube-comments .post-comment-text {
	border: 1px solid #d3d3d3;
	height: 60px;
	width: 98%;
}

#youtube-comments .post-comment-logout {
	color: #2793E6;
	cursor: pointer;
}

#youtube-comments .post-comment-logout:hover {
	text-decoration: underline;
}

#youtube-comments .post-comment-controls {
	overflow: hidden;
}

#youtube-comments .post-comment-submit {
	float: right;
	margin: 8px 0 0 0;
	padding: 0 8px;
}

#youtube-comments .comments-loading {
	line-height: 26px;
	text-align: center;
}

#youtube-comments .comments-loading img {
	border-radius: 0;
	box-shadow: none;
	margin-right: 10px;
	width: 16px;
	vertical-align: middle;
}

#youtube-comments h4.comments-heading {
	font-size: 13px;
	margin: 0 0 20px 0;
}

#youtube-comments li.comment-item {
	list-style-type: none;
	overflow: hidden;
	margin: 0 0 30px 0;
}

#youtube-comments .comment-content {
	float: none;
	margin-left: 60px;
	width: auto;
}
	
#youtube-comments a.author-name {
	color: #2793e6;
	font-weight: bold;
	text-decoration: none;
}

#youtube-comments span.comment-posted {
	color: #999;
	font-size: 11px;
	margin-left: 15px;
}

#youtube-comments a.author-name:hover {
	text-decoration: underline;
}

#youtube-comments .author-thumbnail {
	float: left;
	height: 48px;
	width: 48px;
}

#youtube-comments .comment-text {
	line-height: 17px;
}

#youtube-comments .author-thumbnail img {
	display: block;
	height: 48px;
	width: 48px;
}

#youtube-comments div.comment-reply {
	color: #999;
	font-size: 11px;
}

#youtube-comments div.comment-reply a {
	font-size: 11px;
}

#youtube-comments button.show-more {
	padding: 0 80px;
}

#youtube-comments .comments-pagination {
	text-align: center;
}

#youtube-comments button.youtube-button {
	background-color: #f8f8f8;
	background-image: linear-gradient(to bottom, #fcfcfc 0px, #f8f8f8 100%);
	border: 1px solid #d3d3d3;
	border-radius: 2px;
	color: #333;
	font-size: 11px;
	font-weight: bold;
	line-height: 26px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

#youtube-comments button.youtube-button:hover {
	background-color: #eee;
	background-image: linear-gradient(to bottom, #f8f8f8 0px, #eee 100%);
	border-color: #c6c6c6;
}